{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="icon" href="">
    <title>Vintage Cart</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/fb64fe6586.js" crossorigin="anonymous"></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Foldit&family=Kaushan+Script&family=Lobster&family=Noto+Serif+JP&family=Satisfy&display=swap" rel="stylesheet">
    <!-- css -->
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif+JP&family=Satisfy&display=swap");
        body{
            margin: 0;
            background: linear-gradient(to right, rgb(212, 209, 215), rgb(145, 158, 180))
  
        }
        .navbar-brand{
            font-family: 'Satisfy', cursive;
        }
        .nav-link{
            color: white;
        }
        #Div2 {
        display: none;
        }
        #icon2 {
          display: none;
        }
        .contact a{
            font-size: xx-large;
            color: #ffc107;
        }
        .page-footer{
          background-image: url('/static/images/img_footer.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          background-position: center;
        }
    .capitalize::first-letter{
        text-transform: capitalize;
    }
      </style>
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <header class="sticky-top">
        <nav class="navbar navbar-expand-md bg-dark">
            <a class="navbar-brand text-white" href="#" style="font-family: Satisfy;"><i class="fa-brands fa-vimeo-v border border-warning p-2 mr-2 text-warning"></i>Vintage Cart</a>
            <!-- collapse btn -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"  onclick="changeicon()">
              <span class="navbar-toggler-icon text-primary font-weight-bold" id="icon1"><i class="fa-solid fa-bars text-warning"></i></span>
              <span class="navbar-toggler-icon text-primary font-weight-bold text-warning" id="icon2">X</span>
            </button>
            <!-- div for collapse -->
            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
              <ul class="navbar-nav text-right mr-2">
                <!-- Navbar links -->
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'ssignup' %}">SIGNUP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'cart' %}">CART<i class="fa-sharp fa-solid fa-cart-shopping text-warning"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">HELP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add' %}">ADD CLOTH <br><small>(Staff Only)</small></a>
                </li>
                <li class="nav-item dropdown">
                  <button type="button" class="btn btn-white p-0" data-toggle="dropdown">
                    <i class="fa-solid fa-user text-warning m-0" style="size: 50px;"></i>
                    {% if user.is_anonymous %}
                    <p class="nav-link font-weight-bold m-0 py-0" id="user">USER</p>
                    {% else %}
                    <p class="nav-link font-weight-bold m-0 py-0 capitalize" id="user">{{user}}</p>
                    {% endif %}
                  </button>
                  <div class="dropdown-menu text-center bg-dark" style="left: -78px;">
                    {% if user.is_anonymous %}
                    <a class="nav-link p-2" href="{% url 'slogin' %}" id="signin">SIGNIN</a>
                    {% else %}
                    <a class="nav-link p-2" href="{% url 'slogout' %}" id="signout">LOGOUT</a>
                    <a class="nav-link p-2" href="{% url 'admn' %}" id="signout">Admin SEction</a>
                    {% endif %}
                  </div>
                </li>
              </ul>
            </div>
        </nav>
    </header>
    {% block nav %} 
    {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small blue p-5 border border-top">
      <!-- Footer Links -->
      <div class="container-fluid text-md-left;">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase">Footer Content</h5>
            <p>Here you can use rows and columns to organize your footer content.</p>
          </div>
          <!-- Grid column -->
          <hr class="clearfix w-100 d-md-none pb-3">
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Quick Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">About Us</a>
              </li>
              <li>
                <a href="#!">Privacy Policy</a>
              </li>
              <li>
                <a href="#!">Terms & Conditions</a>
              </li>
              <li>
                <a href="#!">Customer Service</a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
            <!-- Links -->
            <h5 class="text-uppercase">Explore</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Categories</a>
              </li>
              <li>
                <a href="#!">LifeStyle</a>
              </li>
              <li>
                <a href="#!">Business</a>
              </li>
              <li>
                <a href="#!"></a>
              </li>
            </ul>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="/"> MjpProductions.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script>
        // To change menu icon to cross (X)
      function changeicon(){
        if (document.getElementById('icon1')) {
          if (document.getElementById('icon1').style.display == 'none'){
            document.getElementById('icon2').style.display = 'none';
          document.getElementById('icon1').style.display = 'block';
        }
        else {
          document.getElementById('icon1').style.display = 'none';
          document.getElementById('icon2').style.display = 'block';
        }
        }
      }
    </script>
  </body>
</html>